.table thead th {
    vertical-align: bottom;
    background-color: #3c4aa5 !important;
    color: white;
}
#toast-container {
    margin-top: 57px !important;
}
/*input[type="checkbox"]{*/
/*    height: 19px !important;*/
/*    width: 15px !important;*/
/*    opacity: 1 !important;*/
/*}*/
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
.custom-grid{
    display: grid;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (min-width: 994px){
    .navbar-expand-lg .navbar-collapse {
        margin-left: 32% !important;
    }
    ul.custom-ul li {
        padding: 5px 10px;
    }
    .admin-nav.navbar-collapse {
        margin-left: 27% !important;
    }
    ul.custom-ul li {
        padding: 5px 10px;
    }

}
